<div class="row" data-name="about">
    <p align="justify">
        Solar flares are the sudden burst of energy from the Sun. The physics of solar flares is not fully understood. Solar flares are often associated with coronal mass ejections (CMEs) which directly impacts Earth’s space weather. Hence they are the hot topic of research.
One of the primary science goals of ADITYA-L1 is to observe the solar flares and CMEs in the multi-wavelength. With both remote-sensing and in-situ instruments onboard ADITYA-L1, we will be able to study the solar flare evolution from early stages, its association with CMEs and its effect on the space weather.
This is an announcement for the second workshop of the Aditya-L1 Support Cell (AL1SC) to be held in Manipal Academy of Higher Education (MAHE), Manipal, Udupi, Karnataka from 28th Nov 2022 to 30 Nov 2022 . This three days workshop aims to train and prepare budding researchers in Solar Physics in understanding the physics of solar flares, associated CMEs and to analyse and interpret the data from different instruments in Aditya-L1. Sample data from other satellites will be used in the workshop hands-on sessions to introduce the tools and methodology of analysis and interpretation.

Number of Seats available : 30 (national) + 10 (regional, coastal karnataka & north kerala)
Travel and accommodations (financial support): There is limited travel support available for participants from the university sector. All selected candidates will be provided with the local hospitality.
        
    </p>
    
</div>