<div class="cover-workshop text-white rounded">
    <div class="d-flex h-100">
        
        <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
            <header class="mb-auto">
                
                <div>
                <nav class="nav nav-masthead d-flex justify-content-end">
                    <a class="nav-link social" aria-current="page" href="https://fb.com/AdityaL1SC" target=”_blank”><i  class="bi bi-facebook"></i></a>
                    <a class="nav-link social" href="https://twitter.com/AdityaL1SC" target=”_blank”><i class="bi bi-twitter"></i></a>
                    
                </nav>
                </div>
            </header>
            
            <div class="cover-name">
                <div class=" row text-center m-0">
                        
                    
                    <div class="col-md-2 my-auto">
                        <img class="img-fluid" src="{{images}}/logos/iit_logo_original.png" width="50vh"/>
                        <h4>
                            IIT BHU
                        </h4>
                        
                    </div>
                    <div class="col-md-8  my-auto">
                        <h1> Aditya-L1 Support Cell Workshop</h1>
                    </div>
                    <div class="col-md-2  my-auto">
                        <h4 >                   
                        25 Feb - 27 Feb 2023</h4>
                    </div>
                </div>
            </div>
            

            
        </div>
        <div >
            
                
            
                
            </div>
        
    </div>
</div>

   
</div>