<div class="cover-avi text-white rounded">
    

    <div class="d-flex h-100">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                <nav class="nav nav-masthead d-flex justify-content-end">
                    <a class="nav-link active" aria-current="page" href="https://github.com/avialxee"><i  class="bi bi-github"></i></a>
                    <a class="nav-link" href="https://twitter.com/avialxee"><i class="bi bi-twitter"></i></a>
                    
                </nav>
                </div>
            </header>
            <!--img class="img-fluid rounded-circle text-left" src="img/aviprofile.jpg" style="max-width: 20%;"/-->
                
            <main class="p-3 pt-auto pb-0 d-flex justify-content-center ">
                <h1 class="cover-name rounded-pill px-4">Avinash Kumar</h1>
                <p class="lead"></p>
                <p class="lead"></p>
            </main>
        </div>
    </div>
</div>
