{% extends 'base.njk' %}

{% block body %}

<script>
var default_class="about";
var page=default_class+".html";
let env = new nunjucks.Environment();
var fetch_content=function(page,selected_class)
        {
            if (page){
            $.ajax({
                url:"{{templates}}/"+page,
                type:'GET',
                success: function(data){
                    // non static content will need re-rendering
                    $('.d-block').removeClass().addClass('d-none')
                    $('#'+selected_class).removeClass().addClass('d-block')
                    $('#'+selected_class).html(env.renderString(data, {images:'{{images}}'}));
                    
                    }
            });
        }    
}
fetch_content(page,default_class);

$(document).on("click", "ul li a", function(){
      $('ul li a').removeClass('active');
      $(this).addClass("active");
      selected_class=$(this).attr("id").toLowerCase();
      $("#content-page").removeClass();
      $("#content-page").addClass(selected_class);
      if (selected_class) {
        page=selected_class+".html";
    }
    fetch_content(page, selected_class);
    default_class=selected_class

});

{# window.addEventListener('load', function() {
    var editor;
editor = ContentTools.EditorApp.get();
editor.init('*[data-editable]', default_class);


editor.addEventListener('saved', function (ev) {
    var name, payload, regions, xhr;

    // Check that something changed
    regions = ev.detail().regions;
    if (Object.keys(regions).length == 0) {
        return;
    }

    // Set the editor as busy while we save our changes
    this.busy(true);

    // Collect the contents of each region into a FormData instance
    payload = new FormData();
    for (name in regions) {
        if (regions.hasOwnProperty(name)) {
            payload.append(name, regions[name]);
        }
    }

    // Send the update content to the server to be saved
    function onStateChange(ev) {
        // Check if the request is finished
        if (ev.target.readyState == 4) {
            editor.busy(false);
            if (ev.target.status == '200') {
                // Save was successful, notify the user with a flash
                new ContentTools.FlashUI('ok');
            } else {
                // Save failed, notify the user with a flash
                new ContentTools.FlashUI('no');
            }
        }
    };

    xhr = new XMLHttpRequest();
    xhr.addEventListener('readystatechange', onStateChange);
    xhr.open('POST', '/save-my-page');
    xhr.send(payload);
    console.log(payload);
});

}); #}



</script>

<div class="ms-5 me-5 ">

{# {% include 'about-me.html' %} #}
    <div id="content-page" class="">
        <div id="about" class="d-block"></div>
        <div id="scientific" class="d-none"></div>
        <div id="local" class="d-none"></div>
        <div id="registration" class="d-none"></div>
        <div id="program" class="d-none"></div>
    </div>

</div>
{% endblock %}