<div class="py-2"></div>
<div >
    <h2>LOCAL ORGANISING <span>COMMITTEE</span></h2>
    <br>
    
    <div class="row">
      <div class="col-lg-4">
        <p>Dr. Debbijoy Bhattacharya<br><span style="font-style:italic;color:#686868;font-size:18px;">(MAHE; Chair)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Dr. Sreejith Padinhatteeri <br><span style="font-style:italic;color:#686868;font-size:18px;">(MAHE; Convenor)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Dr. Kazuyuki Furuuchi<br><span style="font-style:italic;color:#686868;font-size:18px;">(MAHE)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Dr. Rupak Roy<br><span style="font-style:italic;color:#686868;font-size:18px;">(MAHE)</span></p>
      </div><div class="col-lg-4">
        <p>Prof. Sumana Nandi <br><span style="font-style:italic;color:#686868;font-size:18px;">(MAHE)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Dr. Shalima P<br><span style="font-style:italic;color:#686868;font-size:18px;">(MAHE)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Dr. Chaitra U<br><span style="font-style:italic;color:#686868;font-size:18px;">(MAHE)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Mr Ravindra Acharya<br><span style="font-style:italic;color:#686868;font-size:18px;">(MAHE)</span></p>
      </div>
     </div>
     <br> 
    <h3>Patrons:</h3>
    <div class="row">
        <div class="col-lg-4">
          <p>Vice Chancellor
            <br><span style="font-style:italic;color:#686868;font-size:18px;">(MAHE)</span></p>
        </div>
        <div class="col-lg-4">
            <p>Registrar
              <br><span style="font-style:italic;color:#686868;font-size:18px;">(MAHE)</span></p>
          </div>
    </div>
    <br><br>
    <h3>Contact:</h3>
    <div class="row">
        <div class="col-lg-4">
          <p>Office MCNS
            <br><span style="font-style:italic;color:#686868;font-size:18px;">(080 2923571, 2923599)</span></p>
        </div>
        
    </div>
      
    </div> 
  </div>