<div class="py-2"></div>
<div >
    <h2>LOCAL ORGANISING <span>COMMITTEE</span></h2>
    <br>
    
    <div class="row">
      <div class="col-lg-4">
        <p>Dr. Bidya Binayak Karak<br><span style="font-style:italic;color:#686868;font-size:18px;">(IIT BHU; Chair)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Dr. Kuldeep Verma<br><span style="font-style:italic;color:#686868;font-size:18px;">(IIT BHU)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Dr. Pavan Kumar Aluri<br><span style="font-style:italic;color:#686868;font-size:18px;">(IIT BHU)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Dr. Prasun Dutta<br><span style="font-style:italic;color:#686868;font-size:18px;">(IIT BHU)</span></p>
      </div>
      
     </div>
     <br> 
    
  </div>