<!DOCTYPE html>
<html>
<head>
<title>Participants</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<style>
	.s1 {
		color: #393573;
		/* background-color: bisque; */
		padding-right: 1%;
		
	}
	#participants > div > table > tbody > tr:nth-child(even) {background-color: bisque;}
	
</style>
</head>
<body>
<div class="container mx-auto">
	<h1 id="participants">Participants</h1>
	<table>
		<tbody>
			
			<tr>
				<th align="center" style="color: #78004e;   " width="240" valign="middle">Name</th>
				<th colspan="6" style="color:#78004e;   padding:10px; text-align:center;  " width="240" valign="middle">
					Affiliation</th>
			</tr>
			
			<tr>

				<td class="s1" dir="ltr">MAYA PRABHAKAR</td>
				<td class="s1">Indian Institute of Astrophysics</td>
			</tr>
			<tr><td>KESHAV AGGARWAL</td>
				<td>Indian Institute of Tecnhology Indore</td>
				</tr>
				<tr><td>Saikat Majumder</td>
				<td>IISER Pune</td>
				</tr>
				<tr><td>Mayank Kumar</td>
				<td>Pt Ravishankar Shukla University Raipur</td>
				</tr>
				<tr><td>VINIT PAWASKAR</td>
				<td>University of Mumbai</td>
				</tr>
				<tr><td>AISHWARYA SHARAD POTDAR</td>
				<td>Nowrosjee Wadia College affiliated to Savitribai Phule Pune University</td>
				</tr>
				<tr><td>AADARSH RAJ SHARMA</td>
				<td>Indian Institute of Technology BHU</td>
				</tr>
				<tr><td>YASIR HUSSAIN SIDDIQUI</td>
				<td>INDIAN INSTITUTE OF TECHNOLOGY JODHPUR</td>
				</tr>
				<tr><td>SANGEETHA P C</td>
				<td>Madras University</td>
				</tr>
				<tr><td>HARDIK MEDHI</td>
				<td>Savitribai Phule Pune University</td>
				</tr>
				<tr><td>ANJALI PATEL</td>
				<td>DAVV Indore</td>
				</tr>
				<tr><td>ARPITA SAHA</td>
				<td>Amity University Kolkata</td>
				</tr>
				<tr><td>SALONI KANSAL</td>
				<td>Jawaharlal Nehru University</td>
				</tr>
				<tr><td>SAVITHA M S</td>
				<td>Mangalore </td>
				</tr>
				<tr><td>MANSI</td>
				<td>University of Delhi</td>
				</tr>
				<tr><td>REETIKA TIWARI </td>
				<td>Jawaharlal Nehru University, New Delhi </td>
				</tr>
				<tr><td>MAYANK KUMAR</td>
				<td>University of Allahabad</td>
				</tr>
				<tr><td>SHARAFIYA A</td>
				<td>University of Calicut </td>
				</tr>
				<tr><td>Aakash Narayan </td>
				<td>Osmania </td>
				</tr>
				<tr><td>VARGHESE REJI</td>
				<td>Tata Institute of Fundamental Research </td>
				</tr>
				<tr><td>DINESH HEBBAR</td>
				<td>Mangalore university</td>
				</tr>
				<tr><td>POPI DAS</td>
				<td>IIT Hyderabad</td>
				</tr>
				<tr><td>Sangsthita Baruah</td>
				<td>Dibrugarh University</td>
				</tr>
				<tr><td>MEGHNA DUTTA</td>
				<td>IISER Kolkata</td>
				</tr>
				<tr><td>SRUTHY K S </td>
				<td>Maharaja's College Ernakulam </td>
				</tr>
				<tr><td>PRIYESH KUSHWAHA </td>
				<td>Deen Dayal Upadhyaya Gorakhpur University </td>
				</tr>
				<tr><td>PRIYANSH JASWAL</td>
				<td>INDIAN INSTITUTE OF TECHNOLOGY HYDERABAD</td>
				</tr>
				<tr><td>NIRANJAN A</td>
				<td>IISER Mohali</td>
				</tr>
				<tr><td>DIVYANSHU GOVIND RAO</td>
				<td>D.DU.GORAKHPUR UNIVERSITY, GORAKHPUR </td>
				</tr>
				<tr><td>NEHA</td>
				<td>Indira Gandhi University, Meerpur (Rewari)</td>
				</tr>
				<tr><td>APARUP GHOSH</td>
				<td>IISER Kolkata</td>
				</tr>
				<tr><td>AKASH BAIRAGI</td>
				<td>IIT BHU</td>
				</tr>
				<tr><td>Ankit K Singh</td>
				<td>IIT BHU</td>
				</tr>
				<tr><td>Dipanwita Misra</td>
				<td>IIT BHU</td>
				</tr>
				<tr><td>PRAKHAR SINGH</td>
				<td>Banaras Hindu University</td>
				</tr>
				<tr><td>ADITYA SINGH</td>
				<td>BANARAS HINDU UNIVERSITY</td>
				</tr>
				<tr><td>AKASH  JAISWAL</td>
				<td>BANARAS HINDU UNIVERSITY </td>
				</tr>
				<tr><td>YASH SHARMA</td>
				<td>Banaras Hindu University</td>
				</tr>
				<tr><td>DEBALINA KAR </td>
				<td>Banaras Hindu University </td>
				</tr>
				<tr><td>Adarsh Pandey</td>
				<td>Banaras Hindu University </td>
				</tr>
				<tr><td>MILIN CHAKRABORTY</td>
				<td>Banaras Hindu University</td>
				</tr>
		</tbody>
	</table>
</div>
</body>
</html>