
<h2 id="publication-and-conferences" data-editable data-name="publications" class="text-center m-4">Publication and Conferences</h2>
<hr>
<div class="container" >
    <div class="row">
        <div class="col-md-8">
            <h5 id="conference-paper-presented-at-astronomical-society-of-india-asi-meeting">Conference paper presented at Astronomical Society of India (ASI) meeting</h5>
            <ul>
                <li>SETI India: Using uGMRT to search for advanced extraterrestrial life - Avinash Kumar et al <a href="https://astron-soc.in/asi2022/abstract_details/ASI2022_560">abstract</a> <a href="https://astron-soc.in/asi2022/poster-information/ASI2022_560">poster</a> - Instrumentation and Techniques.</li>
                <li>#RADatHomeIndia annual summary with citizen science discoveries during the pandemic - co-author <a href="https://astron-soc.in/asi2022/abstract_details/ASI2022_455">abstract</a> <a href="https://astron-soc.in/asi2022/poster-information/ASI2022_455">poster</a> - Extragalactic Astronomy.</li>
            </ul>
                
        </div>
        <div class="col-md-4 text-center">
            <p><strong>2022</strong></p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h5 id="delivered-a-talk-in-plenary-session-5-enabling-technologies-for-space-exploration-of-the-21st-national-space-science-symposium-2022">Delivered a talk in Plenary Session 5: Enabling technologies for space exploration of the 21st National Space Science Symposium 2022</h5>
            <p>SETI India: Using uGMRT to search for advanced extraterrestrial life -    <a href="https://cessi.iiserkol.ac.in/nsss/Abstract_Booklet.pdf">abstract</a>      <a href="https://youtu.be/Gg3VHrr4dMg?t=4712">youtube</a>
                (31 Jan - 4 Feb 2022) - Avinash Kumar et al.</p>
        </div>
        <div class="col-md-4 text-center">
            <p><strong>2022</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h5 id="conference-paper-presented-at-communicating-astronomy-with-the-public-2021-iau-virtual-meeting">Conference paper presented at Communicating Astronomy with the Public 2021 (IAU) virtual meeting</h5>
            <p>#RADatHomeIndia: A pandemic-proof model for citizen science research and discoveries using GMRT promoting #AstroAtHome - <a href="https://www.communicatingastronomy.org/cap2021/abstracts/">abstract</a>
                (24 - 27 May 2021) - Akshat Mishra, Ananda Hota, Avinash Kumar et al.</p>
        </div>
        <div class="col-md-4 text-center">
            <p><strong>2021</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h5 id="conference-paper-presented-at-2021-virtual-square-kilometre-array-science-conference">Conference paper presented at 2021 Virtual Square Kilometre Array Science Conference</h5>
            <p>#RADatHomeIndia citizen science discoveries using GMRT and a model of astronomy for development #AstroAtHome - <a href="https://docs.google.com/document/d/1WeS3i8HhBwYtjl4rUFveUS2rZ_y8tl7bsyUUWA7HXs4/">abstract</a>
                (15-19 March 2021) - Hota A, Kumar A et al.</p>
                
        </div>
        <div class="col-md-4 text-center">
            <p><strong>2021</strong></p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h5 id="conference-paper-presented-at-astronomical-society-of-india-asi-meeting-1">Conference paper presented at Astronomical Society of India (ASI) meeting</h5>
            <p>Opportunities amid pandemic in citizen science research via #RADatHomeIndia in Radio Astronomy - co-author   <a href="https://radathomeindia.org/RADposterASI2021">abstract</a> (18 - 23 Feb 2021)</p>

        </div>
        <div class="col-md-4 text-center">
            <p><strong>2021</strong></p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h5 id="conference-paper-presented-at-astronomical-society-of-india-asi-meeting-2">Conference paper presented at Astronomical Society of India (ASI) meeting</h5>
            <p>Spreading astronomy education through #RGBviaNASAnRADatHomeIndia and Citizen Science research through #DilSeDiscovery -  Avinash Kumar,., et al.    <a href="https://astron-soc.in/asi2020/abstract_details/ASI2020_484">abstract</a> (13 - 17 Feb 2020)</p>

        </div>
        <div class="col-md-4 text-center">
            <p><strong>2020</strong></p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h5 id="won-first-prize-in-poster-paper-presented-during-the-workshop-in-astrophysics-and-astronomy-for-women-in-india-organized-by-iucaa-pune-at-dhwu-kolkata">Won first prize in poster paper presented during the workshop in Astrophysics and Astronomy for women in India organized by IUCAA, Pune at DHWU, Kolkata</h5>
            <p>Prospect of Women participation in RAD@home Citizen Science Research using GMRT telescope via OOWLRAW: Three m-shaped moustache radio galaxies - co-author (31 January 2020) <a href="https://docs.google.com/document/d/1t_O9kR-D9TyUSZfAmUAxPcMs-OXVrwRJwSiv2KAjX-A/edit">abstract</a></p>
        </div>
        <div class="col-md-4 text-center">
            <p><strong>2020</strong></p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h5 id="presented-conference-paper-at-the-metrewavelength-sky---ii-international-conference-at-ncra-pune">Presented conference paper at The Metrewavelength Sky - II International conference at NCRA, Pune</h5>
            <p>Reporting Discoveries from last 5 years of RAD@home Citizen-science research with the GMRT - Co-author (18 - 22 March 2019) <a href="https://goo.gl/3ksXM1">abstract</a></p>
        </div>
        <div class="col-md-4 text-center">
            <p><strong>2019</strong></p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h5 id="conference-paper-presented-at-astronomical-society-of-india-asi-meeting-3">Conference paper presented at Astronomical Society of India (ASI) meeting</h5>
            <p>Recent discoveries using GMRT and the growing community of #RADatHomeIndia e-astronomers leveraging Any BSc/BE Can Do Research (#ABCDResearch) approach - co-author <a href="https://astron-soc.in/asi2018/files/abstractverification/abstractverified.php?ID=ASI2018_1199">abstract</a></p>

        </div>
        <div class="col-md-4 text-center">
            <p><strong>2018</strong></p>

        </div>
    </div>
</div>