<!DOCTYPE html>
<html>
<head>
<title>program.md</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">

</head>
<body>
<h1 id="program">Program</h1>
<table>
    <tbody>
		<tr>
			<td colspan="6" style="color:#b543a2;   font-size:20px; text-align:center;  font-weight: bold;" valign="middle">Friday, 25 March 2022</td>
		</tr>
		<!--tr>
    <td width="95" style='color: #291D8B;    ' align='center' valign='middle' bgcolor=' #DCDCDC'   >8.30 onwards</td>
    <td colspan="4" style='color: #291D8B;   padding-left:10px;  '  valign='middle'  bgcolor='#FFFFFF'   > Registration </strong><br />Venue: Main Auditorium Block located very close to university enterance </td>
  </tr-->
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #291D8B;    " valign="middle" width="130">&nbsp;</td>
			<td colspan="6" style="color:#70458f;     padding-left:10px; " valign="middle">Workshops 1 to 4</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" rowspan="6" style="color: #70458f;     " valign="middle" width="117">09:30 – 17:00</td>
			<td colspan="6" style="color:#70458f;     padding-left:10px; " valign="middle">Workshop 1 - <a href="https://astron-soc.in/asi2022/ws1" style="color:#70458f; " target="_blank">Planetary Space Weather</a><br>
			(Venue: LHC2-001)</td>
		</tr>
		<tr>
			<td colspan="6" style="color:#70458f;padding-left:10px; " valign="middle">Workshop 2 - <a href="https://astron-soc.in/asi2022/ws2" style="color:#70458f; " target="_blank">HPC Workshop on Radio Astronomy Data Analysis in the SKA Era</a><br>
			(Venue: LHC2-002)</td>
		</tr>
		<tr>
			<td colspan="6" style="color:#70458f;     padding-left:10px; " valign="middle">Workshop 3 - <a href="https://astron-soc.in/asi2022/ws3" style="color:#70458f; " target="_blank">Long-term Study of the Solar Activity</a><br>
			(Venue: LHC2-003)</td>
		</tr>
		<tr>
			<td colspan="6" style="color:#70458f;     padding-left:10px; " valign="middle">Workshop 4 - <a href="https://astron-soc.in/asi2022/ws4" style="color:#70458f; " target="_blank">Accretion processes around black holes and the emergence of AGN jets</a><br>
			(Venue: LHC2-004)</td>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="6" style="background-color:#dedede;  ">&nbsp;</td>
		</tr>
		<!--------------------------------------------------------------------26th March 2020------------------------------------------------------------------>
		<tr>
			<td colspan="6" style="color:#b543a2;   text-align:center; font-size:20px; font-weight: bold;" valign="middle">Saturday, 26 March 2022</td>
		</tr>
		<!--tr>
    <td width="95" style='color: #70458f;    ' align='center' valign='middle' bgcolor=' #b6d2de'   >8.30 onwards</td>
    <td colspan="4" style='color: #70458f;   padding-left:10px;  '  valign='middle'  bgcolor='#FFFFFF'   ><strong>Registration </strong><br />Venue: Main Auditorium Block located very close to university enterance </td>
  </tr-->
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">09:15</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color:#c96330;   padding-left:10px;  " valign="middle">Welcome – Divya Oberoi&nbsp;<br>
			(Venue: Convocation Hall)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">09:40</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color:#c96330;   padding-left:10px;  " valign="middle">Inaugural Address – Prof. K. VijayRaghavan, Principal Scientific Adviser (PSA)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">09:55</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color:#c96330;   padding-left:10px;  " valign="middle">Welcome Address by hosts of the meeting – Director, IIT-R and Director, ARIES</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">10:10</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color:#c96330;   padding-left:10px;  " valign="middle">ASI 2022 Scientific Programme - Devendra Ojha</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">10:15</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color:#c96330;   padding-left:10px;  " valign="middle">Presidential Address - G. C. Anupama</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">11:15 – 11:45</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #70458f;   padding-left:10px;  " valign="middle">Tea Break</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">11:45 – 13:00</td>
			<td bgcolor="#fff" colspan="6" style="color:#c96330;   padding-left:10px;  " valign="middle">Special Session [Chairperson: Divya Oberoi]<br>
			(Venue: Convocation Hall)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">11:45 – 12:00</td>
			<td bgcolor="#fff" colspan="6" style="color:#c96330;   padding-left:10px;  " valign="middle">Award Ceremony</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">12:00 – 12:30</td>
			<td bgcolor="#fff" colspan="6" style="color:#c96330;   padding-left:10px;  " valign="middle">ASI Zubin Kembhavi Award Lecture - S. Seetha</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">12:30 – 13:00</td>
			<td bgcolor="#fff" colspan="6" style="color:#c96330;   padding-left:10px;  " valign="middle">Justice Oak award for outstanding thesis lecture-&nbsp;Swagat Saurav Mishra</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">13:00 – 14:00</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #70458f;   padding-left:10px;  " valign="middle">Lunch Break + Poster Viewing<br>
			(Venue: LHC 2)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;" valign="middle" width="117">14:00 – 15:30</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;   " width="165"><a class="session" href="26march#stars1" style="color: #4b7558;  text-decoration: underline;" target="_blank">Stars, ISM and the Galaxy 1</a><br>
			(Venue: LHC2-104)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  " width="194"><a class="session" href="26march#ega1" style="color: #4b7558; text-align:center;  text-decoration: underline;" target="_blank">Extragalactic Astronomy 1</a><br>
			(Venue: LHC2-005)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  " width="170"><a class="session" href="26march#sss1" style="color: #4b7558; text-align:center;  text-decoration: underline;" target="_blank">Sun and Solar System 1</a><br>
			(Venue: LHC2-001)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  " width="170"><a class="session" href="26march#it1" style="color: #4b7558; text-decoration: underline;" target="_blank">Instrumentation and Techniques 1</a><br>
			(Venue: LHC2-003)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  " width="18%">-</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">15:30 – 16:00</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #70458f;  padding-left:10px;   " valign="middle">Tea Break + Poster Viewing<br>
			(Venue: LHC 2)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">16:00 – 17:30</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  "><a class="session" href="26march#stars2" style="color: #4b7558; text-decoration: underline;" target="_blank">Stars, ISM and the Galaxy 2</a><br>
			(Venue: LHC2-104)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  "><a class="session" href="26march#ega2" style="color: #4b7558; text-decoration: underline;" target="_blank">Extragalactic Astronomy 2</a><br>
			(Venue: LHC2-005)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  " width="170"><a class="session" href="26march#sss2" style="color: #4b7558; text-decoration: underline;" target="_blank">Sun and Solar System 2</a><br>
			(Venue: LHC2-001)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  "><a class="session" href="26march#it2" style="color: #4b7558; text-decoration: underline;" target="_blank">Instrumentation and Techniques 2</a><br>
			(Venue: LHC2-003)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  "><a class="session" href="26march#grc1" style="color: #4b7558; text-decoration: underline;" target="_blank">General Relativity and Cosmology 1 </a><br>
			(Venue: LHC2-002)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">17:30 – 17:45</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #70458f;  padding-left:10px;   " valign="middle">Break</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">17:45 – 19:45</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #70458f;  padding-left:10px;   " valign="middle">ASI General Body Meeting<br>
			(Venue: LHC2-005)</td>
		</tr>
		<!--------------------------------------------------------------------26th March 2022 End------------------------------------------------------------------->
		<tr>
			<td colspan="6" style="background-color:#dedede;  ">&nbsp;</td>
		</tr>
		<!--------------------------------------------------------------------27th March 2022 Start------------------------------------------------------------------->
		<tr>
			<td colspan="6" style="color:#b543a2; text-align:center; font-size:20px; font-weight: bold;  " valign="middle">Sunday, 27 March 2022</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">&nbsp;</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Plenary Session 1 (Astrophysical Magnetic Field) [Chairperson: Arun Mangalam]<br>
			(Venue: LHC2-005)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">09:30 – 10:00</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;   " valign="middle">Dipanjan Mukherjee - <a href="abstract_details/ASI2022_582" style="color:#357346;  " target="_blank">Simulating young magnetised jets from supermassive black holes</a></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">10:00 – 10:30</td>
			<td colspan="6" style="color:#357346;    padding-left:10px;   " valign="middle">Pallavi Bhat - <a href="abstract_details/ASI2022_796" style="color:#357346; " target="_blank">Magnetic reconnection in astrophysical systems</a></td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">10:30 – 11:00</td>
			<td colspan="6" style="color:#357346;    padding-left:10px;   " valign="middle">Maheswar Gopinathan - <a href="abstract_details/ASI2022_430" style="color:#357346;  " target="_blank">The role of magnetic fields in star formation processes</a></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">11:00 – 11:30</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #70458f;   padding-left:10px;  " valign="middle">Tea Break + Poster Viewing<br>
			(Venue: LHC 2)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">11:30 – 13:30</td>
			<td colspan="6" style="padding: 10px; background-color:#f5f2ce; color:#4b7558;  "><a class="session" href="27march#thesis1" style="color: #4b7558; text-decoration: underline;" target="_blank">Thesis Session I</a>&nbsp;[Chairperson: Devendra Ojha]<br>
			(Venue: LHC2-005)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">13:30 – 14:30</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #70458f;   padding-left:10px;  " valign="middle">Lunch Break + Poster Viewing<br>
			(Venue: LHC 2)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">14:30 – 16:00</td>
			<td align="center" style="padding: 5px;  text-align:center; background-color:#f5f2ce; color:#4b7558;;  "><a class="session" href="27march#stars3" style="color: #4b7558; text-decoration: underline;" target="_blank">Stars, ISM and the Galaxy 3 </a><br>
			(Venue: LHC2-104)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  "><a class="session" href="27march#ega3" style="color: #4b7558; text-decoration: underline;" target="_blank">Extragalactic Astronomy 3 </a><br>
			(Venue: LHC2-005)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;;  "><a class="session" href="27march#sss3" style="color: #4b7558; text-decoration: underline;" target="_blank">Sun and Solar System 3 </a><br>
			(Venue: LHC2-001)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;;  "><a class="session" href="27march#it3" style="color: #4b7558; text-decoration: underline;" target="_blank">Instrumentation and Techniques 3 </a><br>
			(Venue: LHC2-003)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;;  "><a class="session" href="27march#grc2" style="color: #4b7558; text-decoration: underline;" target="_blank">General Relativity and Cosmology 2 </a><br>
			(Venue: LHC2-002)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">16:00 – 16:30</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #70458f;  padding-left:10px;  " valign="middle">Tea Break + Poster Viewing<br>
			(Venue: LHC 2)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">16:30</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #c96330;  padding-left:10px;  " valign="middle">Public Talk by Ajit Kembhavi - <a class="session" href="#" style="color:#c96330;" target="_blank">On the First 50 years of ASI and Beyond</a>&nbsp;[Chairperson: G C Anupama]<br>
			(Venue: LHC2-005)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">18:00 – 19:30</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #c96330;  padding-left:10px;  " valign="middle">Special Session -&nbsp;<a class="session" href="#" style="color:#c96330;" target="_blank">ASI - POEC (Public Outreach and Education Committee of the ASI) session </a><br>
			(Venue: LHC2-005)</td>
		</tr>
		<!---------------------------27th March 2022------------------------------------------------------------------->
		<tr>
			<td colspan="6" style="background-color:#dedede;  ">&nbsp;</td>
		</tr>
		<!--------------------------------------------------------------------Monday, 28 March 2022 Start------------------------------------------------------------------->
		<tr>
			<td colspan="6" style="color:#b543a2; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">Monday, 28 March 2022</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">&nbsp;</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;   " valign="middle">Special Plenary Session 2 (50 years of Astronomical Society of India (ASI-50)) [Chairperson: Dipankar Banerjee]<br>
			(Venue: LHC2-005)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">09:30 – 09:45</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Welcome Address</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">09:45 – 10:15</td>
			<td colspan="6" style="color:#357346;    padding-left:10px;  " valign="middle">T. P. Prabhu - <a href="abstract_details/ASI2022_147" style="color:#357346;  " target="_blank">Ground-based facilities for Astronomy in India optical and VHE gamma rays</a></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">10:15 – 10:45</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">S. Seetha - <a href="abstract_details/ASI2022_767" style="color:#357346;  " target="_blank">Progress of Space based Astronomy missions in India</a></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">10:45 – 11:15</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">J. N. Chengalur - <a href="abstract_details/ASI2022_423" style="color:#357346;  " target="_blank">Past, Present and Future Radio Observational Facilities in India</a></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">11:15 – 11:45</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #70458f;   padding-left:10px; " valign="middle">Tea Break + Poster Viewing<br>
			(Venue: LHC 2)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">11:45 – 12:30</td>
			<td colspan="6" style="color:#c96330;  padding-left:10px;" valign="middle">In memoriam Prof. Thanu Padmanabhan by T. R. Seshadri&nbsp;[Chairperson: Harvinder Jassal]<br>
			(Venue: LHC2-005)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">12:30 – 12:45</td>
			<td colspan="6" style="color:#c96330;  padding-left:10px;" valign="middle">A short presentation on CosmicVarta&nbsp;by Lakshitha Nama, Ketan Rikame and Vivek Kumar Jha [Chairperson: Harvinder Jassal]<br>
			(Venue: LHC2-005)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">12:45 – 14:00</td>
			<td colspan="6" style="color:#70458f ;  padding-left:10px;" valign="middle">Lunch Break + Poster Viewing<br>
			(Venue: LHC 2)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">14:00 – 16:15</td>
			<td colspan="6" style="padding: 10px; background-color:#f5f2ce; color:#4b7558;  "><a class="session" href="28march#thesis2" style="color: #4b7558; text-decoration: underline;" target="_blank">Thesis Session II</a>&nbsp;[Chairperson: Sarita Vig]<br>
			(Venue: LHC2-005)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">16:15 – 16:45</td>
			<td colspan="6" style="padding: 10px; color: #70458f;">Tea Break + Poster Viewing<br>
			(Venue: LHC 2)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">16:45 – 18:15</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;;  "><a class="session" href="28march#stars4" style="color: #4b7558; text-decoration: underline;" target="_blank">Stars, ISM and the Galaxy 4</a><br>
			(Venue: LHC2-104)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;;  "><a class="session" href="28march#ega4" style="color: #4b7558; text-decoration: underline;" target="_blank">Extragalactic Astronomy 4 </a><br>
			(Venue: LHC2-005)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  "><a class="session" href="28march#sss4" style="color: #4b7558; text-decoration: underline;" target="_blank">Sun and Solar System 4 </a><br>
			(Venue: LHC2-001)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;;  "><a class="session" href="28march#it4" style="color: #4b7558; text-decoration: underline;" target="_blank">Instrumentation and Techniques 4 </a><br>
			(Venue: LHC2-003)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;;  "><a class="session" href="28march#grc3" style="color: #4b7558; text-decoration: underline;" target="_blank">General Relativity and Cosmology 3 </a><br>
			(Venue: LHC2-002)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">18:15 – 18:30</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #70458f;  padding-left:10px;  " valign="middle">Break</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;" valign="middle" width="117">18:30 – 20:00</td>
			<td colspan="6" style="color:#c96330;  padding-left:10px;" valign="middle"><a class="session" href="./sites/default/files/2022-03/WGGE_Session_ASI2022.pdf" style="color:#c96330;" target="_blank">WGGE (Working Group for Gender Equity) session</a><br>
			(Venue: LHC2-005)</td>
		</tr>
		<!--------------------------------------------------------------------28th March 2022 End------------------------------------------------------------------->
		<tr>
			<td colspan="6" style="background-color:#dedede;">&nbsp;</td>
		</tr>
		<!--------------------------------------------------------------------Tuesday, 29 March 2022 Start------------------------------------------------------------------->
		<tr>
			<td colspan="6" style="color:#b543a2; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">Tuesday, 29 March 2022</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">&nbsp;</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;   " valign="middle">Plenary Session 3 (General Relativity, Cosmology and Large Scale Structure)&nbsp;[Chairperson: Jasjeet Bagla]<br>
			(Venue: LHC2-005)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">09:30 – 10:00</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Nishikanta Khandai - <a href="abstract_details/ASI2022_608" style="color:#357346; " target="_blank">The Distribution of Neutral Hydrogen in the Local Universe</a></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">10:00 – 10:30</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Pravabati Chingangbam - <a href="abstract_details/ASI2022_602" style="color:#357346; " target="_blank">Testing statistical isotropy of the universe with cosmological fields - a geometrical perspective</a></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">10:30 – 11:00</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Abhirup Datta - <a href="abstract_details/ASI2022_778" style="color:#357346; " target="_blank">Early Universe at Radio Wavelengths: From the Cosmic Dawn to the Epoch of Reionization</a></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">11:00 – 11:30</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #70458f;   padding-left:10px;  " valign="middle">Tea Break + Poster Viewing<br>
			(Venue: LHC 2)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">11:30 – 13:15</td>
			<td align="center" style="padding: 5px;  text-align:center;  background-color:#f5f2ce; color:#4b7558;   "><a class="session" href="29march#stars4" style="color: #4b7558; text-decoration: underline;" target="_blank">Stars, ISM and Galaxy 5 </a><br>
			(Venue: LHC2-104)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;   "><a class="session" href="29march#ega5" style="color: #4b7558; text-decoration: underline;" target="_blank">Extragalactic Astronomy 5 </a><br>
			(Venue: LHC2-005)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  "><a class="session" href="29march#grc4" style="color: #4b7558; text-decoration: underline;" target="_blank">General Relativity and Cosmology 4 </a><br>
			(Venue: LHC2-002)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  "><a class="session" href="planetariums-panel-discussion" style="color: #4b7558; text-decoration: underline;" target="_blank">Activities of planetariums - a panel discussion</a><br>
			(Venue: LHC2-001)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  ">-</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">13:15 – 14:15</td>
			<td colspan="6" style="color:#70458f ;  padding-left:10px;  " valign="middle">Lunch Break + Poster Viewing<br>
			(Venue: LHC 2)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">&nbsp;</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;   " valign="middle">Special Session - Industry - Academia Interface&nbsp;[Chairperson: B. Eswar Reddy]<br>
			(Venue: LHC2-005)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">14:15 – 14:30</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Welcome Address</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">14:30 - 14:50</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Dr. Anand Deshpande (Persistent Systems Limited)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">14:50 - 15:10</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Mr. Laxmesh BH (Larsen &amp; Toubro Limited)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">15:10 - 15:30</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Prof. S. K. Sinha (Lab To Market Innovations, IISc Startup)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">15:30 - 16:00</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Discussion</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">16:00 – 16:15</td>
			<td colspan="6" style="color:#70458f ;  padding-left:10px;  " valign="middle">Break</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">16:15</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color:#c96330;   padding-left:10px;  " valign="middle">Awards announcements, Concluding Session<br>
			(Venue: LHC2-005)</td>
		</tr>
		<!--------------------------------------------------------------------29th March 2022 End------------------------------------------------------------------->
	</tbody>
</table>

</body>
</html>
