<div class="py-2"></div>
<div >
    <h2 id="scientific">SCIENTIFIC ORGANISING <span>COMMITTEE</span></h2>
    <br>
    <div class="row">
      <div class="col-lg-4">
        <p>Dr. Abhishek K Srivastava<br><span style="font-style:italic;color:#686868;font-size:18px;">(IIT BHU, Varanasi)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Dr. Vaibhav Pant<br><span style="font-style:italic;color:#686868;font-size:18px;">(ARIES, Nainital)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Prof (Dr.) Durgesh Tripathi<br><span style="font-style:italic;color:#686868;font-size:18px;">(IUCAA, Pune)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Dr. Mohammad Hasan<br><span style="font-style:italic;color:#686868;font-size:18px;">(ISRO)</span></p>
      </div><div class="col-lg-4">
        <p>Dr. Piyali Chatterjee<br><span style="font-style:italic;color:#686868;font-size:18px;">(IIA, Bangalore)</span></p>
      </div>
      <div class="col-lg-4">
        <p>Dr. Girjesh Gupta<br><span style="font-style:italic;color:#686868;font-size:18px;">(PRL)</span></p>
      </div>
      
      
    </div> 
  </div>