<header class="d-flex justify-content-center py-3">
  <ul class="nav flex-sm-row flex-column nav-pills">
    <li class="nav-item"><a id="About" href="#about" class="active nav-link nav-primary" aria-current="page">About</a></li>
    <li class="nav-item"><a id="Scientific" href="#scientific" class="nav-link">Scientific</a></li>
    <li class="nav-item"><a id="Local" href="#local" class="nav-link">Local</a></li>
    <li class="nav-item"><a id="Registration" href="#registration" class="nav-link">Registration</a></li>
    <li class="nav-item"><a id="Program" href="#program" class="nav-link">Program</a></li>
  </ul>
</header>
