<header class="d-flex justify-content-center py-3">
  <ul class="nav flex-sm-row flex-column nav-pills">
    <li class="nav-item"><a id="About-Me" href="#about-me" class="active nav-link nav-primary" aria-current="page">About Me</a></li>
    <li class="nav-item"><a id="Publications" href="#publications" class="nav-link">Publications</a></li>
    <li class="nav-item"><a id="Education" href="#education" class="nav-link">Education</a></li>
    <li class="nav-item"><a id="Experience" href="#experience" class="nav-link">Experience</a></li>
    <li class="nav-item"><a id="Miscellaneous" href="#miscellaneous" class="nav-link">Miscellaneous</a></li>
  </ul>
</header>
