<header class="d-flex justify-content-center py-3">
  <ul class="nav flex-sm-row flex-row nav-pills">
    <li class="nav-item"><a id="About" href="#about" class="active nav-link nav-primary" aria-current="page">About</a></li>
    <li class="nav-item"><a id="Venue" href="#venue" class="nav-link">Venue</a></li>
    <li class="nav-item"><a id="Scientific" href="#scientific" class="nav-link disabled">Scientific</a></li>
    <li class="nav-item"><a id="Local" href="#local" class="nav-link disabled">Local</a></li>
    <li class="nav-item"><a id="Program" href="#program" class="nav-link disabled">Program</a></li>
    <li class="nav-item"><a id="Participants" href="#participants" class="nav-link disabled">Participants</a></li>
    <li class="nav-item "><a id="Registration" href="#registration" class="nav-link disabled">Registration</a></li>
    <li class="nav-item"><a id="Gallery" href="#gallery" class="nav-link disabled">Gallery</a></li>
  </ul>
</header>
