<div >
  <h2><span>Indian Institue of Technology (BHU)</span></h2>
    <br>
    <strong>HOW TO REACH IIT (BHU) VARANASI</strong>
    <hr>
      
      
        <p align="justify">
          Varanasi, one of the oldest towns still inhabitable, is aptly known as the spiritual 
          center of the India. This sacred city, also known as Banaras or Benaras, 
          is situated at the Bank of River Ganges in the southeast region of the Indian state of Uttar Pradesh. 
          With a strong rail, road, and air-aviation network, 
          Varanasi is very well connected to various main Indian cities and states.
        <br>    
      
    <br>
    <strong>REACHING IIT (BHU) VARANASI:</strong>
    
    <ul>
      <ul><strong>1) BY AIR:</strong> The approachable airport to Varanasi is Lal Bahadur Shastri International Airport in Babatpur, which is approximately 31 km away from the IIT (BHU) Campus. The taxi charges from Airport to IIT (BHU) campus are about INR 950/-.</ul>
      <ul><strong>2) BY RAIL:</strong> It is connected to major cities of India via rail. There are four railway stations in Varanasi:
        <ul>
          <li>Varanasi Cantt. Railway Station (Junction)
          <ul>
            <li>Distance from IIT (BHU) - 10 km</li>
            <li>Taxi Charges to IIT (BHU) - INR 400/-</li>
          </ul>
          </li>
          <li>Varanasi City Railway Station
            <ul>
              <li>Distance from IIT (BHU) - 11 km</li>
              <li>Taxi Charges to IIT (BHU) - INR 450/-</li>
            </ul>
          </li>
          <li>Kashi Railway Station
            <ul>
              <li>Distance from IIT (BHU) - 10.5 km</li>
              <li>Taxi Charges to IIT (BHU) - INR 350/-</li>
            </ul>
          </li>
          <li>Banares (formerly known as) Manduadih Railway Station
            <ul>
            <li>Distance from IIT (BHU) - 6 km</li>
            <li>Taxi Charges to IIT (BHU) - INR 300/-</li>
            </ul>
          </li>
        </ul>
      </ul>
      <br><br><br>
      <li>Website of IIT BHU: <a href="https://www.iitbhu.ac.in/">https://www.iitbhu.ac.in/</a> </li>
      <li>Weblink of Physics Department:- <a href="https://www.iitbhu.ac.in/dept/phy">https://www.iitbhu.ac.in/dept/phy</a> 
      </li>
      <li>Weather in Varanasi: <a href="https://en.climate-data.org/asia/india/uttar-pradesh/varanasi-3554/t/february-2/">https://en.climate-data.org/asia/india/uttar-pradesh/varanasi-3554/t/february-2/</a></li>
    </ul>

  </div>  

  <script>
    // external js: masonry.pkgd.js, imagesloaded.pkgd.js

// init Masonry after all images have loaded
var $grid = $('.grid').imagesLoaded( function() {
  $grid.masonry({
    itemSelector: '.grid-item',
    percentPosition: true,
    columnWidth: '.grid-sizer'
  }); 
});

  </script>