{% extends 'base.njk' %}

{% block body %}

<script>
var default_class="about";
var page=default_class+".html";
let env = new nunjucks.Environment();
var fetch_content=function(page,selected_class)
        {
            if (page){
            $.ajax({
                url:"{{templates}}/"+page,
                type:'GET',
                success: function(data){
                    // non static content will need re-rendering
                    $('.d-block').removeClass().addClass('d-none')
                    $('#'+selected_class).removeClass().addClass('d-block')
                    $('#'+selected_class).html(env.renderString(data, {images:'{{images}}'}));
                    
                    }
            });
        }    
}
fetch_content(page,default_class);

$(document).on("click", "a", function(){
      $('ul li a').removeClass('active');
      selected_class=$(this).attr("href").toLowerCase().replace("#","");
      $('#'+selected_class.charAt(0).toUpperCase()+selected_class.slice(1)).addClass('active'); // finding the id which starts with capital letter

      $("#content-page").removeClass();
      $("#content-page").addClass(selected_class);
      if (selected_class) {
        page=selected_class+".html";
    }
    fetch_content(page, selected_class);
    default_class=selected_class

});


</script>

<div class="ms-2 me-2 ">

{# {% include 'about-me.html' %} #}
    <div id="content-page" class="">
        <div id="about" class="d-block"></div>
        <div id="scientific" class="d-none"></div>
        <div id="local" class="d-none"></div>
        <div id="registration" class="d-none"></div>
        <div id="program" class="d-none"></div>
        <div id="participants" class="d-none"></div>
        <div id="venue" class="d-none"></div>
        <div id="resources" class="d-none"></div>
        <div id="gallery" class="d-none"></div>
    </div>

</div>
{% endblock %}