<!DOCTYPE html>
<html>
<head>
<title>program.md</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">

</head>
<body>
<h1 id="program">Program</h1>
<table>
    <tbody>
        <h3>Under Construction</h3>
		<!--------------------------------------------------------------------Tuesday, 29 March 2022 Start------------------------------------------------------------------->
		<!-- <tr>
			<td colspan="6" style="color:#b543a2; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">Tuesday, 29 March 2022</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">&nbsp;</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;   " valign="middle">Plenary Session 3 (General Relativity, Cosmology and Large Scale Structure)&nbsp;[Chairperson: Jasjeet Bagla]<br>
			(Venue: LHC2-005)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">09:30 – 10:00</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Nishikanta Khandai - <a href="abstract_details/ASI2022_608" style="color:#357346; " target="_blank">The Distribution of Neutral Hydrogen in the Local Universe</a></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">10:00 – 10:30</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Pravabati Chingangbam - <a href="abstract_details/ASI2022_602" style="color:#357346; " target="_blank">Testing statistical isotropy of the universe with cosmological fields - a geometrical perspective</a></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">10:30 – 11:00</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Abhirup Datta - <a href="abstract_details/ASI2022_778" style="color:#357346; " target="_blank">Early Universe at Radio Wavelengths: From the Cosmic Dawn to the Epoch of Reionization</a></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">11:00 – 11:30</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color: #70458f;   padding-left:10px;  " valign="middle">Tea Break + Poster Viewing<br>
			(Venue: LHC 2)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">11:30 – 13:15</td>
			<td align="center" style="padding: 5px;  text-align:center;  background-color:#f5f2ce; color:#4b7558;   "><a class="session" href="29march#stars4" style="color: #4b7558; text-decoration: underline;" target="_blank">Stars, ISM and Galaxy 5 </a><br>
			(Venue: LHC2-104)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;   "><a class="session" href="29march#ega5" style="color: #4b7558; text-decoration: underline;" target="_blank">Extragalactic Astronomy 5 </a><br>
			(Venue: LHC2-005)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  "><a class="session" href="29march#grc4" style="color: #4b7558; text-decoration: underline;" target="_blank">General Relativity and Cosmology 4 </a><br>
			(Venue: LHC2-002)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  "><a class="session" href="planetariums-panel-discussion" style="color: #4b7558; text-decoration: underline;" target="_blank">Activities of planetariums - a panel discussion</a><br>
			(Venue: LHC2-001)</td>
			<td align="center" style="padding: 5px; text-align:center;  background-color:#f5f2ce; color:#4b7558;  ">-</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">13:15 – 14:15</td>
			<td colspan="6" style="color:#70458f ;  padding-left:10px;  " valign="middle">Lunch Break + Poster Viewing<br>
			(Venue: LHC 2)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">&nbsp;</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;   " valign="middle">Special Session - Industry - Academia Interface&nbsp;[Chairperson: B. Eswar Reddy]<br>
			(Venue: LHC2-005)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">14:15 – 14:30</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Welcome Address</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">14:30 - 14:50</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Dr. Anand Deshpande (Persistent Systems Limited)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">14:50 - 15:10</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Mr. Laxmesh BH (Larsen &amp; Toubro Limited)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">15:10 - 15:30</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Prof. S. K. Sinha (Lab To Market Innovations, IISc Startup)</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">15:30 - 16:00</td>
			<td colspan="6" style="color:#357346;   padding-left:10px;  " valign="middle">Discussion</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">16:00 – 16:15</td>
			<td colspan="6" style="color:#70458f ;  padding-left:10px;  " valign="middle">Break</td>
		</tr>
		<tr>
			<td align="center" bgcolor="#b6d2de" style="color: #70458f;    " valign="middle" width="117">16:15</td>
			<td bgcolor="#FFFFFF" colspan="6" style="color:#c96330;   padding-left:10px;  " valign="middle">Awards announcements, Concluding Session<br>
			(Venue: LHC2-005)</td>
		</tr> -->
		<!--------------------------------------------------------------------29th March 2022 End------------------------------------------------------------------->
	</tbody>
</table>

</body>
</html>
