<!DOCTYPE html>
<html>
<head>
<title>Program</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">

</head>
<body>
<div >
	<h1 id="program">Program</h1>
	<table>
		<tbody class="text-center">
			
			<!--------------------------------------------------------------------Monday 28th November 2022------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					Monday 28th November 2022</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">08:30 - 09:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px; text-align:center;  " valign="middle">
					Registration</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:00 – 09:30</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Inaugural session</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 10:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Prof Durgesh Tripathi (IUCAA, Pune) - 
					Introduction to the Sun and Solar Flares</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">10:30 – 11:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break<br>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:00 - 12:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Prof Dipankar Banerjee (ARIES, Nainital) - <a href="https://drive.google.com/file/d/1sIyxICNUyM-2dS3adXqyDKKvyXhmV0cB/view?usp=sharing" style="color:#6d68b4; " target="_blank">Introduction to Aditya-L1 Mission and AL1SC</a></td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">12:00 - 13:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr Piyali Chatterjee (IIA, Bangalore) - Theoretical Modelling & computational simulations of Solar Flares</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">13:00 – 14:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Lunch Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:00 - 15:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Dr Anshu Kumari (University of Helsinki) - 
					<a href="https://drive.google.com/file/d/1h3U9EEzfsDQByPkpjoLlutOgxpFL_3c9/view?usp=sharing" style="color:#6d68b4; " target="_blank">Introduction to Flare data analysis in UV and Radio wavelengths</a></td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:00 - 15:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Dr Anshu Kumari - 				
					<a href="https://drive.google.com/drive/folders/1oPkbg132wCg1c2oeea8tnmFH4p2CcUQG?usp=sharing" style="color:#6d68b4; " target="_blank">UV Data Analysis</a> [Hands-On]</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">17:30 - 18:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color:#c93030;   padding-left:10px;  " valign="middle">Prof Durgesh Tripathi (IUCAA, Pune) - The Fiery star that gives us life [Public Talk]
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">18:30 - 19:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color:#c93030;   padding-left:10px;  " valign="middle">Planetarium Show
				</td>
			</tr>
			<!--------------------------------------------------------------------Tuesday 29th November 2022------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					Tuesday 29th November 2022</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:00 – 09:30</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Experience Theator Visit</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 10:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr Jayanth Joshi (IIA, Bangalore) - 
					Physics of Solar Flares : Lecture 1 
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">10:30 – 11:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break<br>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:00 - 12:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr Sankarasubramanian (ISRO, Bangalore) - 
					Solar Flare observations in high energies (Review & Prospectus)</a></td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">12:00 - 13:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr Satabdwa Majumdar, (ARIES, Nainital) - 
					<a href="https://drive.google.com/file/d/1DTsdBkTcCdd4cQJk3cwwdtty6kwpIchD/view?usp=sharing" style="color:#6d68b4; " target="_blank">Flares and CME connection - Multiwavelength Observations and future prospects</a></td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">13:00 – 14:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Lunch Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:00 - 15:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Dr Abhilash, Dr Ramadevi - Introduction x-ray flare data analysis
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:00 - 15:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Dr Abhilash, Dr Ramadevi - 
					<a href="https://drive.google.com/drive/folders/1zDDWAtOzyLUwYh3ZyEGwBFIT2za_sxTq?usp=sharing" style="color:#6d68b4; " target="_blank">X-ray Data Analysis</a> [Hands-On]</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">17:30 - 18:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color:#c93030;   padding-left:10px;  " valign="middle">Prof Dipankar Banerjee (ARIES, Nainital) -  Aditya-L1 : India's first Solar Space Observatory  [Public Talk]
				</td>
			</tr>

			<!--------------------------------------------------------------------Wednesday 30th November 2022------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					Wednesday 30th November 2022</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 10:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr Jayanth Joshi (IIA, Bangalore) - 
					Physics of Solar Flares : Lecture 2 
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">10:30 – 11:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break<br>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:00 - 12:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr Aveek Sarkar (PRL, Ahmedabad) - 
					Particle acceleration observation at L1</a></td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">12:00 - 13:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Mr Vishal Upendran (IUCAA, Pune) - 
				<a href="https://docs.google.com/presentation/d/e/2PACX-1vQYRb6bEMgvXlZQi1n5cJEYT2Rkfya5IkyXgKXn7trMaiuE_61lFyvbIS2Uf486BqQ-EZmm8tJuyTdP/pub?start=false&loop=false&delayms=3000&slide=id.g194203d1b32_0_1" style="color:#6d68b4;" target="_blank">	
					Machine Learning/ AI perspectives of flare prediction </a></td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">13:00 – 14:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Lunch Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:00 - 15:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Mr Vishal Upendran (IUCAA, Pune) - 
					<a href="https://drive.google.com/drive/folders/1f2NbzHvygq5yLmhFX2SzovBCNsOGSF2f?usp=sharing" style="color:#6d68b4; " target="_blank">Flare prediction methods</a> [Hands-On]</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">17:30 - 18:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color:#c93030;   padding-left:10px;  " valign="middle">Dr Mohammed Hasan (ISRO) - Indian Space Science Program [Public Talk]
				</td>
			</tr>
			
		</tbody>
	</table>
</div>
</body>
</html>
