
#content-page {
padding-top:5vh;
}
.cover-workshop
{
    height:50vh;
    background-image: url({{images}}/group-picture2.jpeg); 
    background-position-y:40% ; 
    opacity: .89; 
    background-size: cover;
    
}
.cover-name {
    background-color: rgba(0,0,0,0.9);
    
}
.nav-link {
    color: #326799;
    
}
.nav-link:hover {
    color: #001529;
    
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #001529;
}