<div>
  <h2> First AL1SC Workshop</h2>
  <div class="row">
    <p align="justify">
      The Aditya-L1 mission is India's first dedicated spacecraft mission to study the Sun. It will enable a
      comprehensive understanding of the dynamical processes of the Sun and address some of the outstanding problems in
      solar physics and heliophysics. As a joint effort of ISRO and ARIES, the Aditya-L1 Support Cell (AL1SC) has been
      set up to act as a community service centre for the guest observers in preparing science observing proposals and
      analyzing science data. This support cell provides tools and documentations required to understand, download and
      analyse the data. The AL1SC will be organising several workshops before and after the launch of Aditya-L1 mission
      to familiarize students with the basic processes happening on the Sun, current open problems, the Aditya-L1
      mission and observational data analysis so that the scientific data can be explored by a larger community leading
      to the exciting scientific outcomes. With this objective, the first AL1SC workshop will be held at ARIES, Nainital
      from 27th June to 6th July 2022.
    </p>
    <!-- <p align="justify">
                Solar flares are the sudden burst of energy from the Sun. The physics of solar flares is not fully understood. Solar flares are often associated with coronal mass ejections (CMEs) which directly impacts Earth’s space weather. Hence they are the hot topic of research. <br>
                One of the primary science goals of ADITYA-L1 is to observe the solar flares and CMEs in the multi-wavelength. With both remote-sensing and in-situ instruments onboard ADITYA-L1, we will be able to study the solar flare evolution from early stages, its association with CMEs and its effect on the space weather. <br>
            </p> -->
  </div>
  <div class="row" data-name="about">
    <div class="col-md-8">
      <p align="justify">
        <strong>Topics to be covered:</strong>
      <ul>
        <li>Introduction to the Sun</li>
        <li>Imaging observations</li>
        <li>Spectroscopic observations</li>
        <li>Polarimetric observations and in-situ observations of the solar atmosphere</li>
        <li>Introduction to the advanced statistical and AI/ML techniques commonly used in solar physics</li>
        <li>Introduction to the ADITYA-L1 mission and its science objectives</li>
        <li>Hands-on sessions on the basic solar data analysis<ul>
            <li>Imaging analysis</li>
            <li>Spectroscopic analysis</li>
            <li>Time series analysis</li>
            <li>Numerical simulations</li>
            <li>Remote sensing</li>
            <li>In-situ observations</li>
            <li>AI/ML methods using Python, IDL, and Fortran</li>
          </ul>
        </li>
      </ul>
      <em>ARIES also has a 15 cm H-alpha telescope. Participants will visit the solar telescope and make real-time observations depending on the local weather conditions.</em>
      

      </p>
      <strong><em>Number of Seats available :</em></strong>  30 
                    <br>
                    <strong><em>Travel and accommodations (financial support): </em></strong> 
                    The selected participants from university are eligible to get travel support. Sleeper class train fare or ordinary bus fare will be reimbursed for the round trip journey by the shortest route from applicant's address after producing original tickets of inward journey and photocopies of tickets of outward journey. Free lodging and boarding from one day before the workshop starts to one day after the workshop ends will be provided.
    </div>
    <div class="col-md-4">
      <div id="carouselVenue" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- <div class="carousel-item ">
                      <img class="d-block" style="height:50vh;" src="{{images}}/venue/bhuvaranasi-ghat.jpg">
                    </div> -->
          <!-- <div class="carousel-item active">
                      <img class="d-block" style="height:50vh;" src="{{images}}/venue/iitbhu-1.jpg">
                    </div> -->
          <div class="carousel-item active">
            <img class="d-block" style="height:50vh;" src="{{images}}/venue/adityaL1-1.jpg">
          </div>
          <div class="carousel-item">
            <img class="d-block" style="height:50vh;" src="{{images}}/venue/AL1SSC_support_cell.jpg">
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselVenue" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <!-- <span class="visually-hidden">Previous</span> -->
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselVenue" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <!-- <span class="visually-hidden">Next</span> -->
        </button>
      </div>
    </div>


    <div class="">
      <!-- <h2>Topics to be <span>covered</span></h2><br>
        <ul>
        <li>Introduction to Physics of Solar flares</li>
        <li>Solar Flare observations in multi-wavelength</li>
        <li>Solar flare - CME connections</li>
        <li>Basic introduction to the tools and methodology of data analysis of X-ray data, UV &amp; radio data of solar flares</li>
        <li>Hands-on sessions</li>
        </ul> -->
      <!-- <p style="color:blue;font-style:italic"><strong>Aries also has a 15 cm H-alpha telescope. Participants will visit the solar telescope and make real-time observations depending on the local weather conditions.</strong></p> --><br><br>
      <h2>Who can <span>apply?</span></h2><br>
      The target audience for the workshop are primarily students who are pursuing M.Sc/Integrated PhD (1st and 2nd year)/Integrated M.Sc (4th or 5th year)/B.Tech/M.Tech or who have passed M.Sc (Physics)/B.Tech/M.Tech/Integrated M.Sc (Physics) in 2021 with an interest and motivation to work in solar physics. Open sessions will be organised for discussion and interaction with solar physicists, PhD students and postdoctoral fellows. 

      <br>
    </div>

  </div>
</div>