<div >
<h2> First AL1SC Workshop</h2>
        <div class="row">
            <p align="justify">
                Solar flares are the sudden burst of energy from the Sun. The physics of solar flares is not fully understood. Solar flares are often associated with coronal mass ejections (CMEs) which directly impacts Earth’s space weather. Hence they are the hot topic of research.
                One of the primary science goals of ADITYA-L1 is to observe the solar flares and CMEs in the multi-wavelength. With both remote-sensing and in-situ instruments onboard ADITYA-L1, we will be able to study the solar flare evolution from early stages, its association with CMEs and its effect on the space weather.
            </p>
            <p align="justify">
                Solar flares are the sudden burst of energy from the Sun. The physics of solar flares is not fully understood. Solar flares are often associated with coronal mass ejections (CMEs) which directly impacts Earth’s space weather. Hence they are the hot topic of research. <br>
                One of the primary science goals of ADITYA-L1 is to observe the solar flares and CMEs in the multi-wavelength. With both remote-sensing and in-situ instruments onboard ADITYA-L1, we will be able to study the solar flare evolution from early stages, its association with CMEs and its effect on the space weather. <br>
            </p>
        </div>
        <div class="row" data-name="about">
            <div class="col-md-8">
                <p align="justify">
                    This is an announcement for the third workshop of the Aditya-L1 Support Cell (AL1SC) to be held in <b><a href="#venue">Indian Institute of Technology (BHU)</a>, Varanasi, UP from 25th Feb 2023 to 27th Feb 2023 </b>. This three days workshop aims to train and prepare budding researchers in Solar Physics in understanding the physics of solar flares, associated CMEs and to analyse and interpret the data from different instruments in Aditya-L1. Sample data from other satellites will be used in the workshop hands-on sessions to introduce the tools and methodology of analysis and interpretation. 
                    <br><br>
                    <strong><em>Theme of Workshop : </em></strong>Exploring Sun and Heliosphere using Aditya-L1
                    <br>
                    <strong><em>Number of Seats available :</em></strong>  30 (national) +  10 (regional)
                    <br>
                    <strong><em>Travel and accommodations (financial support):</em></strong> There is limited travel support available for participants from the university sector. All selected candidates will be provided with the local hospitality.
                        <br>
                                <br><br>
                        
            </p>
        </div>
        <div class="col-md-4">
                <div id="carouselVenue" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <!-- <div class="carousel-item ">
                      <img class="d-block" style="height:50vh;" src="{{images}}/venue/bhuvaranasi-ghat.jpg">
                    </div> -->
                    <!-- <div class="carousel-item active">
                      <img class="d-block" style="height:50vh;" src="{{images}}/venue/iitbhu-1.jpg">
                    </div> -->
                    <div class="carousel-item active">
                      <img class="d-block" style="height:50vh;" src="{{images}}/venue/IITBHU-Image2.jpeg">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block" style="height:50vh;" src="{{images}}/venue/IITBHU-Image3.jpg">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block" style="height:50vh;" src="{{images}}/venue/IITBHU-Image4.jpeg">
                    </div>
                    <div class="carousel-item ">
                      <img class="d-block" style="height:50vh;" src="{{images}}/venue/iitbhu-varanasi-ghat.jpg">
                    </div>
                    <!-- <div class="carousel-item">
                      <img class="d-block" style="height:50vh;" src="{{images}}/venue/Varanasi-Picture3.jpeg">
                    </div> -->
                    <div class="carousel-item">
                      <img class="d-block" style="height:50vh;" src="{{images}}/venue/Varanasi-Picture4.jpg">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselVenue" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <!-- <span class="visually-hidden">Previous</span> -->
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselVenue" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <!-- <span class="visually-hidden">Next</span> -->
                  </button>
                </div>                
        </div>


        <div class="">
            <h2>Topics to be <span>covered</span></h2><br>
        <ul>
        <li>Introduction to Physics of Solar flares</li>
        <li>Solar Flare observations in multi-wavelength</li>
        <li>Solar flare - CME connections</li>
        <li>Basic introduction to the tools and methodology of data analysis of X-ray data, UV &amp; radio data of solar flares</li>
        <li>Hands-on sessions</li>
        </ul>
        <!-- <p style="color:blue;font-style:italic"><strong>Aries also has a 15 cm H-alpha telescope. Participants will visit the solar telescope and make real-time observations depending on the local weather conditions.</strong></p> --><br><br>
        <h2>Who can <span>apply?</span></h2><br>First preference is given to PhD students already working, or planning to work in the field of solar physics. Any M.Sc (completed) and Integrated PhD student, already completed their master’s research project in the field of solar physics can also apply (include the details of the project and the project guide in the application).
        <br>
            </div>
        
    </div>
</div>