<!DOCTYPE html>
<html>

<head>
    <title>Dates</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <style>
        .s1 {
		color: #393573;
		/* background-color: bisque; */
		padding-right: 1%;
		
	}
	#dates > div > table > tbody > tr:nth-child(even) {background-color: bisque;}
	
    </style>
</head>

<body>
    <div>
        <h2 id="dates">Dates</h2>

    </div>
    <table class="mx-auto">
        <tbody>
            <tr>
				<th align="center" style="color: #78004e;   " width="240" valign="middle"></th>
				<th colspan="6" style="color:#78004e;   padding:10px; text-align:center;  " width="240" valign="middle">
					</th>
			</tr>
            <tr>
                <td class="s1">Registration Opens </td>
                <td class="s1">23 May 2022</td>
            </tr>
            <tr>
                <td class="s1">Registration Deadline</td>
                <td class="s1">4 June 2022</td>
            </tr>
            <tr>
                <td class="s1">Deadline for Referee Report</td>
                <td class="s1">4 June 2022</td>
            </tr>
            <tr>
                <td class="s1">Participant list </td>
                <td class="s1">6 June 2022</td>
            </tr>
            <tr>
                <td class="s1">Workshop</td>
                <td class="s1">27 Jun- 06 Jul 2022</td>
            </tr>
        </tbody>
    </table>
</body>

</html>