<!DOCTYPE html>
<html>
<head>
<title>Participants</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<style>
	.s1 {
		color: #393573;
		/* background-color: bisque; */
		padding-right: 1%;
		
	}
	tr:nth-child(even) {background-color: bisque;}
	
</style>
</head>
<body>
<div class="container mx-auto">
	<h1 id="participants">Participants</h1>
	<table class="mx-auto text-center">
		<tbody>
			
			<tr>
				
				<th colspan="6" style="color:#78004e;   padding:10px; text-align:center;  " width="240" valign="middle">
					Name</th>
			</tr>
			
				
				<td>AAKASH</td>
			  </tr>
			  <tr>
				
				<td>Aditya Pandey</td>
			  </tr>
			  <tr>
				
				<td>ADITYA SHARMA</td>
			  </tr>
			  <tr>
				
				<td>AROMAL P</td>
			  </tr>
			  <tr>
				
				<td>AYUSHI CHHIPA</td>
			  </tr>
			  <tr>
				
				<td>BHAKTI SHASHIKANT MITHAGRI</td>
			  </tr>
			  <tr>
				
				<td>DEEPAK KATHAIT</td>
			  </tr>
			  <tr>
				
				<td>DEVENDRA SAINI</td>
			  </tr>
			  <tr>
				
				<td>GARIMA KARKI</td>
			  </tr>
			  <tr>
				
				<td>JAYKUMAR PATEL</td>
			  </tr>
			  <tr>
				
				<td>JITHU J ATHALATHIL</td>
			  </tr>
			  <tr>
				
				<td>KHOBAN AMOL SHIVAJI</td>
			  </tr>
			  <tr>
				<td>KSHITIJ PRAKASH PAWAR </td>
			  </tr>
			  <tr>
				
				<td>LUPAMUDRA SARMAH</td>
			  </tr>
			  <tr>
				
				<td>Mayank Kumar</td>
			  </tr>
			  <tr>
				
				<td>MEGHANA PANNIKKOTE</td>
			  </tr>
			  <tr>
				
				<td>NILAKSHI SENAPATI</td>
			  </tr>
			  <tr>
				
				<td>P AVINASH KUMAR</td>
			  </tr>
			  <tr>
				
				<td>PARUL JAIN</td>
			  </tr>
			  <tr>
				
				<td>PRERANA</td>
			  </tr>
			  <tr>
				
				<td>RAGHVENDRA RATHORE </td>
			  </tr>
			  <tr>
				
				<td>SANDIP DAS</td>
			  </tr>
			  <tr>
				
				<td>SHASHANK GUPTA</td>
			  </tr>
			  <tr>
				
				<td>SHREEJAYA KARANTHA</td>
			  </tr>
			  <tr>
				
				<td>SHUBHANKAR RAVINDRA GHAROTE</td>
			  </tr>
			  <tr>
				
				<td>SRISHTI IYER</td>
			  </tr>
			  <tr>
				
				<td>SUDESHNA SAHOO</td>
			  </tr>
			  <tr>
				
				<td>SUMAN DAS</td>
			  </tr>
			  <tr>
				
				<td>SURARIHA P</td>
			  </tr>
			  <tr>
				
				<td>VARSHA YADAV</td>
			  </tr>
			  <tr>
				
				<td>VISWAKANNAN R K</td>
			  </tr>
			  
		</tbody>
	</table>
</div>
</body>
</html>
