<!DOCTYPE html>
<html>
<head>
<title>Participants</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<style>
	.s1 {
		color: #393573;
		/* background-color: bisque; */
		padding-right: 1%;
		
	}
	tr:nth-child(even) {background-color: bisque;}
	
</style>
</head>
<body>
<div class="container mx-auto">
	<h1 id="participants">Participants</h1>
	<table class="mx-auto text-center">
		<tbody>
			
			<tr>
				
				<th align="center" style="color: #78004e;   " width="240" valign="middle">Name</th>
				<th colspan="6" style="color:#78004e;   padding:10px; text-align:center;  " width="240" valign="middle">
					Affiliation</th>
					<tr>
						<td>AAKASH</td>
						<td>Indian Institute of Technology Roorkee</td>
					</tr>
					<tr>
						<td>Aditya Pandey</td>
						<td>NIT Jalandhar</td>
					</tr>
					<tr>
						<td>ADITYA SHARMA</td>
						<td>INDIAN INSTITUTE OF SCIENCE EDUCATION AND RESEARCH BHOPAL</td>
					</tr>
					<tr>
						<td>AYUSHI CHHIPA</td>
						<td>University of Delhi</td>
					</tr>
					<tr>
						<td>BHAKTI SHASHIKANT MITHAGRI</td>
						<td>University of Mumbai</td>
					</tr>
					<tr>
						<td>DEEPAK KATHAIT</td>
						<td>DOON UNIVERSITY</td>
					</tr>
					<tr>
						<td>DEVENDRA SAINI</td>
						<td>Indian Institute of Technology BHU Varanasi</td>
					</tr>
					<tr>
						<td>GARIMA KARKI</td>
						<td>Kumaun University</td>
					</tr>
					<tr>
						<td>JAYKUMAR PATEL</td>
						<td>Savitribai phule pune university</td>
					</tr>
					<tr>
						<td>JITHU J ATHALATHIL</td>
						<td>Cochin University of Science and Technology</td>
					</tr>
					<tr>
						<td>KHOBAN AMOL SHIVAJI</td>
						<td>Fergusson College Autonomous Pune</td>
					</tr>
					<tr>
						<td>KSHITIJ PRAKASH PAWAR </td>
						<td>Savitribai Phule Pune University </td>
					</tr>
					<tr>
						<td>LUPAMUDRA SARMAH</td>
						<td>Indian Institute of Technology BHU Varanasi</td>
					</tr>
					<tr>
						<td>Mayank Kumar</td>
						<td>Pt Ravishankar Shukla University Raipur</td>
					</tr>
					<tr>
						<td>MEGHANA PANNIKKOTE</td>
						<td>National Institute of Technology Calicut</td>
					</tr>
					<tr>
						<td>NILAKSHI SENAPATI</td>
						<td>Indian Institute of Technology BHU Varanasi</td>
					</tr>
					<tr>
						<td>P AVINASH KUMAR</td>
						<td>Indian Institute of Space Science and Technology</td>
					</tr>
					<tr>
						<td>PARUL JAIN</td>
						<td>Indian Institute of Technology Guwahati</td>
					</tr>
					<tr>
						<td>PRERANA</td>
						<td>HINDU COLLEGE UNIVERSITY OF DELHI </td>
					</tr>
					<tr>
						<td>RAGHVENDRA RATHORE </td>
						<td>Indian Institute of Technology  Kharagpur </td>
					</tr>
					<tr>
						<td>SANDIP DAS</td>
						<td>IIT Kharagpur</td>
					</tr>
					<tr>
						<td>SHASHANK GUPTA</td>
						<td>Indian Institute of Technology Madras</td>
					</tr>
					<tr>
						<td>SHREEJAYA KARANTHA</td>
						<td>St Josephs College affiliated to Bangalore University </td>
					</tr>
					<tr>
						<td>SHUBHANKAR RAVINDRA GHAROTE</td>
						<td>Indian Institute of Space Science and Technology</td>
					</tr>
					<tr>
						<td>SRISHTI IYER</td>
						<td>Maharaja Sayajirao University</td>
					</tr>
					<tr>
						<td>SUDESHNA SAHOO</td>
						<td>IIT Guwahati </td>
					</tr>
					<tr>
						<td>SUMAN DAS</td>
						<td>RAMAKRISHNA MISSION RESIDENTIAL COLLEGE NARENDRAPUR</td>
					</tr>
					<tr>
						<td>SURARIHA P</td>
						<td>UNIVERSITY OF MADRAS</td>
					</tr>
					<tr>
						<td>VARSHA YADAV</td>
						<td>Deen Dayal upadhyay Gorakhpur University</td>
					</tr>
					<tr>
						<td>VISWAKANNAN R K</td>
						<td>University of Madras</td>
					</tr>
			  
		</tbody>
	</table>
</div>
</body>
</html>
