<!DOCTYPE html>
<html>
<head>
<title>Participants</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<style>
	.s1 {
		color: #393573;
		/* background-color: bisque; */
		padding-right: 1%;
		
	}
	tr:nth-child(even) {background-color: bisque;}
	
</style>
</head>
<body>
<div class="container mx-auto">
	<h1 id="participants">Participants</h1>
	<table>
		<tbody>
			
			<tr>
				<th align="center" style="color: #78004e;   " width="240" valign="middle">Name</th>
				<th colspan="6" style="color:#78004e;   padding:10px; text-align:center;  " width="240" valign="middle">
					Affiliation</th>
			</tr>
			
			<tr>

				<td class="s1" dir="ltr">MAYA PRABHAKAR</td>
				<td class="s1">Indian Institute of Astrophysics</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">DEBESH BHATTACHARJEE</td>
				<td class="s1">IISER Pune</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">JAIN JACOB P T</td>
				<td class="s1" dir="ltr">NIT Calicut</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">DIBYA KIRTI MISHRA</td>
				<td class="s1">ARIES,Nainital</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">NILAKSHI SENAPATI</td>
				<td class="s1">Indian Institute of Technology Kanpur</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">AMBIKA SAXENA</td>
				<td class="s1">Aryabhatta Research Institute of Observational Sciences</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">UPASNA BAWEJA</td>
				<td class="s1">Aryabhatta Research Institute of Observational Sciences</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">NITIN VASHISHTHA</td>
				<td class="s1">Arryabhatta research institute of observational sciences</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">YOSHITA BARUAH</td>
				<td class="s1">IISER Kolkata</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">SOUMYARANJAN KHUNTIA</td>
				<td class="s1">Indian institute of astrophysics, Bangalore</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">RIYA MULLICK</td>
				<td class="s1">IIT Kanpur</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">UNNATI ASHAR</td>
				<td class="s1">CESSI IISER KOLKATA</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">JYOTI</td>
				<td class="s1">ARIES</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">UNNIMAYA K C</td>
				<td class="s1">U R Rao Satellite Centre, Bangalore</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">SRIPAN MONDAL</td>
				<td class="s1">Indian Institute of Technology (Banaras Hindu University), Varanasi</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">SADAF IQBAL ANSARI</td>
				<td class="s1">University of Mumbai</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">ANU B SREEDEVI</td>
				<td class="s1">Indian Institute of Technology (BHU), Varanasi</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">REVATHI M</td>
				<td class="s1">Mother Teresa Womens University</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">ARPIT KUMAR SHRIVASTAV</td>
				<td class="s1">ARIES, Nainital</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">SRINJANA ROUTH</td>
				<td class="s1">Aryabhatta Research Institute of Observational Sciences</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">JANMEJOY SARKAR</td>
				<td class="s1">IUCAA, Pune and Tezpur University.</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">ASWIN AMIRTHA RAJ S</td>
				<td class="s1">Madurai Kamaraj University</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">BIJOY DALAL</td>
				<td class="s1">Physical Research Laboratory</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">ANKITA DEVANAND WAGHMARE</td>
				<td class="s1">Ramniranjan Jhunjhunwala College</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">ATUL BHAT</td>
				<td class="s1">Jain University</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">SAMPADA SUNIL GAONKAR</td>
				<td class="s1">Ramniranjan Jhunjhunwala College</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">Ravi Chaurasiya</td>
				<td class="s1" dir="ltr">Udaipur Solar Observatory-PRL</td>
			</tr>
			<tr>

				<td class="s1" dir="ltr">Abhas Pradhan</td>
				<td class="s1" dir="ltr">IIT Kharaghpur</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>
