<!DOCTYPE html>
<html>
<head>
<title>Program</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">

</head>
<body>
<div >
	<h2 id="program">Program</h2>
	<table class="mx-auto">
		<tbody class="text-center">
			
			<!--------------------------------------------------------------------JUNE 27, 2022 (MONDAY)------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					JUNE 27, 2022 (MONDAY)</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:00 - 09:30</td>
				<td colspan="6" style="color:#393573;   padding-left:10px; text-align:center;  " valign="middle">
					Registration</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 10:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Prof. Dipankar Banerjee, Dr. M. Hasan - Inauguration of the Workshop: An Overview of the Aditya-L1 Support Cell</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">10:00 – 10:15</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr Vaibhav Pant - Introduction to the first Aditya-L1 Support Cell Workshop 
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">10:00 – 10:15</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr. Bidya Binay Karak - Solar Interior I
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:00 – 11:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break<br>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:30 - 13:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr. Bidya Binay Karak - Solar Interior II</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">13:00 – 14:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Lunch Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:00 - 15:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Project Presentation by Mentors
					</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">15:00 – 15:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">15:30 - 17:30</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Project Presentation by Mentors
					</td>
			</tr>
			<!--------------------------------------------------------------------JUNE 28, 2022 (TUESDAY)------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					JUNE 28, 2022 (TUESDAY)</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 11:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Ritesh Patel and Bibhuti Jha - Imaging Observation of Solar Corona</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:00 – 11:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break<br>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:30 - 13:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr. Bidya Binay Karak - Image processing techniques and automated detection of Solar features</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">13:00 – 14:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Lunch Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:00 - 15:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Tutorial/ Hands-On
					</td>
			</tr>
			<!--------------------------------------------------------------------JUNE 29, 2022 (WEDNESDAY)------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					JUNE 29, 2022 (WEDNESDAY)</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 11:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr Vaibhav Pant - Introduction to HD/MHD-I</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:00 – 11:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break<br>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:30 - 13:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr Vaibhav Pant - Introduction to HD/MHD-II</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">13:00 – 14:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Lunch Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:00 - 15:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Dr Mohammad Hasan - Indian Space Science Programme
					</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">15:00 – 15:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">15:30 - 17:30</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Projects
					</td>
			</tr>
			<!--------------------------------------------------------------------JUNE 30, 2022 (THURSDAY)------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					JUNE 30, 2022 (THURSDAY)</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 11:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr. Wageesh Mishra - Coronal Mass Ejections and Space Weather</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:00 – 11:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break<br>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:30 - 13:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr. Tanmoy Samanta - Spectroscopic Observation of Solar Atmosphere</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">13:00 – 14:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Lunch Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:00 - 15:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Projects
					</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">15:00 – 15:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">15:30 - 17:30</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Projects
					</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">18:00 - 21:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Director's Dinner at Hotel Cygnett, Jeolikote
					</td>
			</tr>
			<!--------------------------------------------------------------------JULY 1, 2022 (FRIDAY) - SUN AND SOLAR FACILITIES------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					JULY 1, 2022 (FRIDAY) - SUN AND SOLAR FACILITIES</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 11:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Anjali Katthikal - Spectropolarimetric Observations</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:00 – 11:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break<br>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:30 - 13:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr. Pradeep Kashyap - Imaging and Spectroscopic Observations of Solar Jets/Spicules: Mass and Energy Transport to the Solar Wind</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">13:00 – 14:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Lunch Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:30 - 15:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Dr. Jeevan C.Pandey - Sun and Sun-like Stars
					</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">15:00 – 15:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">15:30 - 17:30</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Projects
					</td>
			</tr>

			<!--------------------------------------------------------------------JULY 2, 2022 (SATURDAY) - DATA ANALYSIS AND TRIP TO NAINITAL------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					JULY 2, 2022 (SATURDAY) - DATA ANALYSIS AND TRIP TO NAINITAL</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 11:30</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Projects</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:30 – 12:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break<br>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">12:00 - 13:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Projects</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">13:00 – 14:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Lunch Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:00 - 19:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Nainital Visit
					</td>
			</tr>
			<!--------------------------------------------------------------------JULY 2, 2022 (SATURDAY) - DATA ANALYSIS AND TRIP TO NAINITAL------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					JULY 3, 2022 (SUNDAY) - TRIP TO ARIES DEVASTHAL OBSERVATORY</td>
			</tr>
			<tr>
				<!-- <td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 11:30</td> -->
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Participants will visit ARIES Devasthal Observatory
					Lunch will be at Devasthal Canteen
					</td>
			</tr>
			
			<!--------------------------------------------------------------------JULY 4, 2022 (MONDAY)------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					JULY 4, 2022 (MONDAY)</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 11:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr. Bhuwan Joshi - Xray Observation of Solar Atmosphere</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:00 – 11:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break<br>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:30 - 13:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr. Dibyendu Chakraborty - In-Situ Observations of Solar Plasma
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">13:00 – 14:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Lunch Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:00 - 15:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Mr. Bijoy - Inverstigations on Energetic Particles in the Solar Wind using ASPEX measurements
					</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">15:00 – 15:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">15:30 - 17:30</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Mr. Yogesh - Inverstigations on Alpha - Proton ratio in Solar Wind using ASPEX measurements
					</td>
			</tr>
			
			<!--------------------------------------------------------------------JULY 5, 2022 (TUESDAY)------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					JULY 5, 2022 (TUESDAY)</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 11:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Prof. Dipanker Banerjee - Overview of the Aditya-L1 Mission</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:00 – 11:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break<br>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:30 - 13:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Dr. Vaibhav Pant - Science with Aditya-L1: VELC
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">13:00 – 14:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Lunch Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">14:00 - 15:00</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Dr. Sreejith Pandhinhatteeri - Science from Aditya-L1: SUIT
					</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">15:00 – 15:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break </td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">15:30 - 17:30</td>
				<td colspan="6" style="color:#393573 ;  padding-left:10px;  " valign="middle">Dr. Sankarasubramanian - Science from Aditya-L1: SOLEX
					</td>
			</tr>

			
			<!--------------------------------------------------------------------JULY 6, 2022 (WEDNESDAY)------------------------------------------------------------------->
			<tr>
				<td colspan="6" style="color:#ab008e; text-align:center;  font-size:20px; font-weight: bold;  " valign="middle">
					JULY 6, 2022 (WEDNESDAY)</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">09:30 – 11:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Project Presentations - Group G1, G2, G3</td>
			</tr>
			
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:00 – 11:30</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Tea Break<br>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">11:30 - 12:30</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Project Presentations - Group G4, G5, G6
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">12:30 - 13:00</td>
				<td colspan="6" style="color:#393573;   padding-left:10px;  " valign="middle">Concluding Remarks
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#fffbdd" style="color: #78004e;    " valign="middle" width="117">13:00 – 14:00</td>
				<td bgcolor="#FFFFFF" colspan="6" style="color: #78004e;   padding-left:10px;  " valign="middle">Lunch Break </td>
			</tr>
			


		</tbody>
	</table>
</div>
</body>
</html>
