
#content-page {
padding-top:5vh;
}
.container-workshop {
  position: relative;
  
}
{# use with container-workshop #}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 2px;
  right: 10px;
}
.bottom-right-bg {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index:-2;
}
.sticker {

  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0vw 0vw 4em 10em;
  border-color: transparent transparent #001529 transparent;
  
}

.cover-workshop
{
    height:50vh;
    background-image: url({{images}}/group-picture1.jpg); 
    background-position-y:80% ; 
    background-position-x:center;
    opacity: .89; 
    background-size: cover;
    
}
.cover-name {
    
    background-color: rgb(4 21 36 / 85%);
    
}
.nav-link {
    color: #326799;
    
}
.nav-link:hover {
    color: #001529;
    
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #001529;
}
.social:hover{
 color:#97bef9;   
}

{# gridding #}

grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.33%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}
