<div class="row" data-editable data-name="about-me">
    <div class="col-md-4">
    <img class="img-fluid rounded-circle" src="{{images}}/aviprofile.jpg"/>
    </div>
    <div class="col-md-8">
    <p align="justify">
    Hello
    </p><p align="justify">
        To give you a brief overview of my skill set I am currently a Junior Research Fellow for UC Berkeley-Amity SETI node at Amity University Mumbai, I have worked with RAD@home India - Citizen Science Research collaboratory in Astronomy and Astrophysics for 4+ years and have authored and co-authored my research work in national and international conferences. I have sound programming knowledge and have actively contributed to python-based projects by building core functionalities.
    </p><p align="justify">
        I have completed Masters in Physics (2018) and a Bachelor of Science in Physics with another major subject as Computer Application (2016) from University of Allahabad. I have sound programming skills, with Machine Learning, Data Science and python based certificates in "Machine Learning by Stanford University on Coursera" (2022) and "Data-driven Astronomy by The University of Sydney on Coursera" (2019). Attended workshop on "High Performance Computing for Astrophysics and Astronomy by SKA-India Consortium and IIT Kharagpur". I have led and have experience in working with teams in a professional environment. 
        
    </p>
    </div>
</div>