
<h2 id="research-experience" class="m-4 text-center">Research Experience</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h5 id="junior-research-fellow---uc-berkeley-seti---amity-node">Junior Research Fellow   UC Berkeley SETI - Amity node</h5>
            <p><em>Using FPGAs for high-speed data capture for the search for advanced extraterrestrial life</em></p>
    <p>Building a pipeline for the SETI backend for the upgraded Giant Metrewave Radio Telescope (uGMRT) to process raw voltage data and utilising visibility data for imaging the source of interest; Funded by Breakthrough Listen Initiative.</p>
        </div>
        <div class="col-md-4 text-center">
            <p><em>08 Nov 2021 - 18 Sep 2022</em></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            <h5 id="research-intern--radhome-india">Research Intern  RAD@home India</h5>
            <p><em>Black Hole and Galaxy co-evolution under Dr Ananda Hota</em></p>
            <p>Multiwavelength analysis using GMRT’s TGSS ADR1 all-sky archival data; Built rgbmaker a  python-based astronomy web app to communicate with different astronomical services, fetch FITS images from NASA Skyview and numerical data from TGSS and NVSS catalogue (a manuscript on this is in preparation).</p>
        </div>
    
        <div class="col-md-4 text-center">
            <p><em>Aug 2018 - Oct 2021</em></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h5 id="research-associate--um-dae-cebs">Research Associate  UM-DAE CEBS</h5>
            <p><em>Summer Associate Research Programme 2018, Centre for Excellence in Basic Sciences, University of Mumbai-Department of Atomic Energy, Mumbai  (14 May - 13 July 2018)</em></p>
            <p>Black Hole and Galaxy co-evolution using the DAE-funded GMRT and RAD@home under Dr Ananda Hota</p>
        </div>
           
        <div class="col-md-4 text-center">
            <p><em>May 2018 - July 2018</em></p>
        </div>
    </div> 
    
    
        